.Alter{
    margin: auto; 
    margin-top: 50px;
    text-align: center;
}

.Alter form{
    margin-top: 10px;
    font-size: 15px;
}

p{
    font-size: 16px;
    font-weight: bold;
}

input{
    font-size: 14px;
    color: #000;
    margin: auto;
}

.btn:hover {
    background-color: #8E0606;
    color: #FFF;
}