.jumbotron{
    background-color: #FFF;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.jumbotron h1{
    color: #8E0606;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: #8E0606;
    border-color: #8E0606;
}

.btn{
    background-color: #FFF;
    border-color: #FFF;
    color: #8B8B8F;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-left: 50px;
}

.table>tbody>tr>td{
    vertical-align: middle;
    height: 45px;
}

table{
    max-width: 600px;
}

.navbar-welcome{
    padding-left: 100px;
}

.upload{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    color: #8E0606;
    font-size: 16px;
    text-align: center;
}

.btn{
    margin-left: 0px;
}