/*Extra styling voor de ArtistAccountPage*/

/*Positionering van de titel 'Welcome ... to Kuifke'*/
.navbar-welcome{
    padding-left: 100px;
}

/*Positionering van de 'Upload a song' en 'Delete your account' buttons*/
.upload{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

/*Styling van de subtitels*/
h2{
    color: #8E0606;
    font-size: 16px;
    text-align: center;
}

/*Positionering van de knoppen*/
.btn{
    margin-left: 0px;
}