/*Styling van de BISelect page*/

/*Instellen van de body, zodat de tabel niet tot tegen de rand van de pagina gaat*/
body {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Grootte en kleur van de titel*/
h1 {
    font-size: 20px;
    color: #8E0606;
}

/*Positionering van de Submit knop*/
.form-group {
    padding-top: 20px;
}

/*Styling van de Submit knop tijdens het hoveren*/
.form-group .btn:hover {
    background-color: #8E0606;
    color: #FFF;
}