 body {
    background:url('../Images/Background-Welcome.jpg')center center fixed;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:-1;
    height: 100%;
} 

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../Fonts/glyphicons-halflings-regular.eot');
  src: url('../Fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.Welcome-container {
    height: 100px;
    width: 380px; 
    background-color: #8E0606;
    opacity: 0.75;
    margin-left: 70px;
    margin-top: 120px;
    z-index:0;
}

.titel {
    color: white;
    font-weight:bold;
    font-size: 28px;
    padding-left: 145px;
    padding-top: 10px;
    border-bottom:2px solid white;   
}

.Welcome-container .tekst {
    padding-top: 10px;
    font-size: 18px;
    color: white;
    padding-left: 95px; 
}

.SignUp-container {
    height: 300px;
    width: 380px; 
    background-color: #ADAAAA;
    opacity: 0.8;
    margin-left: 70px;
    z-index:0;
    
}

.SignUp-container .tekst {
    color: black;
    font-weight:bold;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 75px;
}

.knop{
    margin-left:100px;
    margin-top: 20px;
}

.knop2{
    margin-left:85px;
    margin-top: 20px;
}

.knop3{
    margin-left:100px;
    margin-top: 20px;
}

.knop3 a{
    color: #000;
    font-weight: bold;
}
.btn-danger {
    color: #FFF;
    background-color: #8E0606;
    border-color: #8E0606;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:30px;
    padding-left: 30px;
    font-size: 16px;  
}

.login {
    font-size: 15px;
    padding-top: 25px;
    padding-left: 80px;
}

.login a {
    color:black;
    font-weight:bold;
}

.footer {
    color: #d9534f;
    font-weight: bold;
    opacity:0.63;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    height: 45px;
    width: 100%;
}

.row{
    margin-right: 0px;
    line-height: 45px;
    vertical-align: middle;
    margin-left: 0px;
}

#footer-left{
    text-align: left;
}

#footer-right{
    text-align: right;   
}

.btn:hover, .btn:focus, .btn:active{
    color:#FFF;
}

h2{
    text-align: center;
    color:#8E0606;
    font-weight: bold;
}

.modal-dialog{
    width: 400px;
}

.modal-body{
    padding: 15px;
}

.form-signin-heading{
    display: none;
}

.form-control:active, .form-control:focus, .dropd:focus, .dropd:active, .dropd:hover{
    border-color:#8E0606;
}

.form-signin{
    padding: 0px;
}

.modal-footer{
    padding: 8px;
}

.login p{
    margin: auto;
}

.knop p{
    
    margin: auto;
}

