/*Styling van de Music page*/

/* Zorgt er voor dat de page achtergrond altijd grijs is */
body{
    background-color: #e7e7e7;
}

h4{
    font-size: 16px;
    text-align: center;
}

.jumbotron h1{
    color: #8E0606;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.jumbotron{
    background-color: #FFF;
    padding-top: 30px;
}

thead{
    background-color: #121212;
    color: #FFF;
}

table{
    border: #121212;
    border-style: solid;
    margin: auto;
}

td{
    padding:7px;
}

th{
    text-align: center;
}

.white{
    background-color: #FFF;
}

.gray{
    background-color: #E3E3E3;
}
