
.navbar-default  {
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > li> a:hover {
    background-color: #8E0606;
    color: #FFFFFF;
}

.navbar-welcome:hover{
    text-decoration: none;
}

.navbar-default .navbar-right > li > a:hover {
    background-color: #8E0606;
    color: #FFFFFF;
}

.navbar-default .navbar-nav .BI {
    border-left: 2px dotted #8E0606;
}

.container {
    width:100%;
    margin:0px
}

.navbar-header {
    padding-top: 12px;
}

.navbar-header .navbar-welcome {
    padding-left: 55px;
    padding-right: 150px;
    color: #8E0606;
    font-size: 20px;
    font-weight:bold;
}

.navbar-header > a:hover {
    //Welcome to ... nog het onderlijnen uitzetten, maar hoe ???
}

.footer {
 position:fixed;
 bottom:0;
 left:0;
 right:0;
 background-color: #e7e7e7;
}

.column {
   padding-left:100px;
   padding-bottom: 20px;

}

.column > h4 {
    color: #8E0606;
}

.column .nav {
    border-top: 2px solid white;
}

.column .nav > li {
position: relative;
display: block;
padding: 10px 15px;
}

.column .nav > li > a {
padding: 0px 0px;
color: #333;
}

.musicdiv audio{
    width: 100%;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */

    background-color: #121212;
}

.musicdiv p{
    width: 100%;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 50px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    background-color: #121212;
    padding-top: 5px;
}







